.category
	min-height 600px
	h1
		font-size 4em
		float left
		position absolute
		top 30%
		width 100px
	.description
		&.valign
			position absolute
		float right
		width 650px
		right 0
		top 30%
		.title
			font-size 2em
			width 100%
		.content
			font-size 1.2em
		.subject
			font-size 1.2em
		a
			color $COLOR_AMARILLO	
		span
			color $COLOR_AMARILLO