 $PATH_FONT = $PATH_ROOT"fonts"

 @font-face
   font-family DIN-Regular
   src url($PATH_FONT'/DIN-Regular.ttf')

 @font-face
   font-family DIN-Condensed-Bold
   src url($PATH_FONT'/DIN-Condensed-Bold.ttf')

 @font-face
   font-family DIN-Alternate-Bold
   src url($PATH_FONT'/DIN-Alternate-Bold.ttf')

