.footer
	background #ae2a1f
	overflow hidden
	border-top 5px solid $COLOR_ROJO_OBSCURO
	padding 2em 0
	.author
		color #ca746d
	.brand
		background url(../img/brand.png)
		width 158px
		height 16px
		float left
	.network
		float right	
		.follow
			float left
			margin 0
			font-size 1.2em
		a
			color white
		ul
			float left	
		li
			float left


