.footer
	background #ae2a1f
	overflow hidden
	border-top 5px solid $COLOR_ROJO_OBSCURO
	padding-bottom 1.5em
	.author
		color #ca746d
	.brand
		background url(../img/brand.png)
		width 158px
		height 16px
		float left
	.network
		float right	
		h2
			float left
			margin 0
		ul
			float left	
		li
			float left

