.header
	overflow: hidden;
	.list
		li
			cursor pointer
			float left
			font-family 'DIN-Condensed-Bold',sans-serif
			font-size 1.4em
			margin-right 1.5em
			text-shadow 0.05em 0.05em $COLOR_GRIS
			&:hover
				border-bottom 6px solid $COLOR_ROJO

			a
				color white
				
	.menu
		float right	


#logo
	background url($PATH_IMG'logo.png')
	cursor pointer
	float left
	height 145px
	width 163px