.header
	overflow: hidden;
	.list
		li
			font-family 'DIN-Condensed-Bold',sans-serif
			cursor pointer
			float left
			list-style none
			margin-right 1.5em
			&:hover
				border-bottom 5px solid $COLOR_ROJO
				
	.menu
		float right	


#logo
	background url($PATH_IMG'logo.png')
	float left
	height 145px
	width 163px