.circle
	font-family DIN-Regular
	background-color $COLOR_ROJO
	height 8.5em
	-moz-border-radius 3.7em
	-webkit-border-radius 4.2em
	width 8.7em
	float right
	position relative
	text-align center
	.box
		position: absolute;
		top: 38%;
		left: 4px;
	.title
		color $COLOR_AMARILLO
		font-size .9em
		margin 0
	.subtitle
		font-size .7em
		margin 0
.title
	float: left;
	font-size .9em