.circle
	border-radius 7em
	background-color $COLOR_ROJO
	float right
	font-family DIN-Regular
	height 12.5em
	position relative
	text-align center
	width 12.5em
	.box
		position relative
		text-align center
		text-shadow 0.1em 0.1em #6e1a13
		top 38%
	.title
		color $COLOR_AMARILLO
		font-size 1.2em
		margin 0
		width 100%
	.subtitle
		font-size 1em
		margin 0
		width 100%
.title
	float: left;
	font-size 1.2em

.locations
	&:before
		background black
		position absolute
		height 140px
		bottom 0
		content ""
		left 0
		opacity 0.5
		right 0
		z-index -1
	.location
		font-family 'DIN-Condensed-Bold',sans-serif
		font-size 1.5em
	.flaticon-pin8
		&:before	
			margin-left 0px
		margin-right 20px	


.places
	li
		cursor pointer
		float left
		width 30%	
		padding 0 1.3em
		border-right 1px solid white
		&:first-child
			padding 0 1.3em 0 0
		&:last-child
			padding 0 0 0 1.3em
			border-right none
		h2
			font-size 1em
			color $COLOR_AMARILLO