.circle
	font-family DIN-Regular
	background-color $COLOR_ROJO
	height 12.5em
	-moz-border-radius 7em
	-webkit-border-radius 7em
	width 12.5em
	float right
	position relative
	text-align center
	.box
		position relative
		text-align center
		top 38%
	.title
		width 100%
		color $COLOR_AMARILLO
		font-size 1.2em
		margin 0
	.subtitle
		width 100%
		font-size 1em
		margin 0
.title
	float: left;
	font-size 1em

.locations
	.location
		font-family 'DIN-Condensed-Bold',sans-serif
		font-size 1.5em

.places
	li
		float left
		width 30%	
		padding 0 1.2em
		border-right 1px solid white
		&:last-child
			padding 0 0 0 1.2em
			border-right none
		h2
			font-size 1em
			color $COLOR_AMARILLO