$PATH_ROOT 	= "../"
$PATH_IMG 	= $PATH_ROOT"img/"
$COLOR_ROJO = #ae2a1f
$COLOR_ROJO_OBSCURO = #711b14
$COLOR_AMARILLO = #e7d056
$COLOR_GRIS = #333

@import "nib"
@import "normalize.styl"
@import "fonts.styl"
@import "flaticon.styl"
@import "header.styl"
@import "footer.styl"
@import "home.styl"
@import "category.styl"

body
	color white
	font-family 'DIN-Regular'
	font-size 15px
	&.filter
		&:before
			-moz-filter: blur(6px);
			-webkit-filter: blur(6px);
			filter: blur(6px);
			filter: url("../img/blur.svg#blur");
			opacity 0.3		
	&:before
		background url($PATH_IMG'bg/home.jpg')
		height 850px
		bottom 0
		content ""
		left 0
		opacity 0.5
		position absolute
		right 0
		top 0
		z-index -1
	&.menu	
		&:before		
			background url($PATH_IMG'bg/menu.jpg')
a
	text-decoration none

li
	list-style none

figure
	margin 0
img
	vertical-align top
ul
	margin 0
	padding 0

.opacity
	background black

.wrap
	width 1000px	
	margin 0 auto	

.contenido
	padding 2.3em 0 .5em 0
	overflow hidden
	min-height 550px

section
	overflow hidden
	position relative
